div {
    font-family:  "Roboto", sans-serif;
    color:#243564; 
    
}
div:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}
#Nos_formations {
    text-align: center;
}

h1 {
    font-size:500%;
    margin: 25px;
    padding: 25px;
}

.presentation_formation {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#formation_container {
    margin: 25px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

#formation_container .formation {
    width: 25%; /* 4 éléments par ligne */
    text-align: center;
    border-radius: 12px;

}
#formation_container .formation img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
#formation_container .formation:hover {
    transform: scale(1.03);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#formation_container a *,
#formation_container a,
#formation_container a:link,
#formation_container a:visited {
    text-decoration: none !important;
    color: inherit;
}


/*=======Grande ecole/T&N=======*/


#pret_prepa {
    width: 60%;
    margin: 15px;
    padding: 15px;
}

#bloc_1 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.img_form {
    margin: 15px;
    padding: 15px;
    width: 40%;
    object-fit: cover;
    border: thick double #520404;

}
#bloc_2 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.desc_prepa {
    
    margin: 15px;
    padding: 15px;
}

/*=======Enseignant=======*/

.desc_enseignant {
    margin: 25px;
    width: 70%;
}

.prof-container {
    display: flex;
    position: relative;
    margin: 0 auto;
    
    background-color: white;
    width: 25vw;
    height: 45vw;
    justify-content: center;
    flex-direction: row;
}

.prof-card img {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #000000; 
  
}

.nav-btn {
    height: 5vw;
    border: 1px solid #000000; 
    border-radius: 15px;
    align-items: center;
    position: relative;
    top: 45%;
    z-index: 10;
    
}
.prev-btn {
    right: 200px; /* ajuste selon ton design */
}

.next-btn {
    left: 200px;
}

.nav-btn:hover {
    color: rgb(96, 96, 96);
    
}

.item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 25vw;
    height: auto;
    padding: 0 12px;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
    margin-top: 20px;
    
}

.prof-card {
    margin-top: 20px;
    width: 25vw;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 20px;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.prof-card.active {
    opacity: 1;
}

