div {
    font-family:  "Roboto", sans-serif;
    color:#243564; 
}

#Nos_formations {
    text-align: center;
}

h1 {
    font-size:500%;
    margin: 25px;
    padding: 25px;
}

.presentation_formation {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#formation_container {
    margin: 25px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

#formation_container .formation {
    width: 25%; /* 4 éléments par ligne */
    text-align: center;
    border-radius: 12px;

}
#formation_container .formation img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
#formation_container .formation:hover {
    transform: scale(1.03);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#formation_container a *,
#formation_container a,
#formation_container a:link,
#formation_container a:visited {
    text-decoration: none !important;
    color: inherit;
}


/*=======Grande ecole=======*/


#pret_prepa {
    width: 60%;
    margin: 15px;
    padding: 15px;
}

#bloc_1 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.img_form {
    margin: 15px;
    padding: 15px;
    width: 40%;
    object-fit: cover;
    border: thick double #520404;

}
#bloc_2 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.desc_prepa {
    
    margin: 15px;
    padding: 15px;
}